@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    overflow-x: hidden;
}

form {
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: 26px;
    color: white;
}

form label {
    margin-bottom: 10px;
}

form input {
    font-size: 28px;
    width: 20em;
    padding: 10px 20px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    background: linear-gradient(to left,
            #16181fed 105%,
            transparent,
            transparent);
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
}

nav ul li:first-child {
    display: flex;
}

nav ul li {
    text-decoration: none;
    /* border-bottom: 1px solid white; */
    padding: 8px 16px;
    /* transition: all .5s ease-in; */

}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    border-bottom: 1px solid white;
    background-color: rgba(128, 128, 128, 0.457);
    border-radius: 5px;
    transform: scale(1.1);

}

nav ul li {
    list-style: none;

}

nav div {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    gap: 2rem;
}

nav div img {
    width: 60px;
    border-radius: 999px;
}

.selection {
    display: flex;
    gap: 10px;

}

.active {
    border: 1px dashed black;
}

button {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
}

select {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
    padding: 10px 20px;
}

select option {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
    padding: 30px;
}

.card img {
    width: 200px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.card {
    background-color: gray;
    width: fit-content;
    height: fit-content;
    /* margin-left: 30px; */
    padding: 10px;
    border-radius: 10px;
}

.section {
    position: relative;
    color: white;
    height: 100vh;
    display: grid;
    gap: 10px;
    width: 1000px;
    margin-top: 100px;
    margin-left: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}



.footer {
    width: 100%;
    padding: 30px 20px;
    background-color: #4a4a4a;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.section-child {
    display: flex;
    justify-content: space-around;
}



.footer-child {
    width: 22%;
    padding: 20px 10px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-list li {
    width: max-content;
}